{% extends "base.html" %}

{% block title %}common_assignment_list.html{% endblock %}

{% block content %}
<div id="content">
	<h1> {{ subject.title }}_{{ subject.classes}} </h1>
    {% if request.session.isProfessor %}
	    <h3><input type="button" value="Add"/></h3>
	    <h3><input type="button" value="settings"/></h3>
    {% endif %}
	<table>
		<tr>
			<th>assginment_name</th>
			<th>deadline</th>
		</tr>

		{% for obj in assignment %}
		<tr>
			<td><a>{{ obj.name }}</a></td>
			<td>{{ obj.deadline | date:"Y-m-d(D)" }} {{ obj.deadline | time:"H:i:s" }}</td>
		</tr>
		{% endfor %}


	</table>

</div>
{% endblock content %}
