{% extends "base.html" %}

{% block title %}common_subject_list.html{% endblock %}

{% block content %}
<div id="content">
	<h1>Welcome, ({{ request.user.username }})!</h1>
	{% if request.session.isProfessor %}
		<form id='subject_add' method="get" action="{% url 'judge:professor_subject_add' %}">{% csrf_token %}
			<input type="submit" value="add subject"/>
		</form>

	    <h3><input type="button" value="management" onclick="location.href='{% url 'judge:professor_hided_subject'%}'"/></h3>
    {% endif %}
	<table>
		<tr>
			<th>title</th>
		</tr>
		{% for obj in signup_class_available %}
		<tr>
			<td>
                <form id='{{ obj.subject.id }}' method="post" action="{% url 'judge:common_assignment_list' obj.subject.id %}">{% csrf_token %}
					<input type="hidden" name="subject_id" value="{{ obj.subject.id }}"/>
					<a href="javascript:{}" onclick=document.getElementById("{{ obj.subject.id }}").submit();>{{ obj.subject.title }}</a>
			    </form>	
			</td>
			{% if request.session.isProfessor %}
			<td>
				<form method="post" action="?">{% csrf_token %}
					<input type="hidden" name="subject_id" value="{{ obj.subject.id }}"/>
					<input type="submit" value="hide"/>
			    </form>	
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>

	{% if signup_class_waiting %}
		<h1> Waiting subject list </h1>
		<form method='post' action="?"> {% csrf_token %}
			<input type="submit" name="accept_all" value="Accept all"/>
		</form>
		<form method='post' action="?"> {% csrf_token %}
			<input type="submit" name="reject_all" value="Reject all"/>
		</form>

		<table>
			<tr>
				<th> title </th>
				{% if not request.session.isProfessor %}
					<th> state </th>
				{% endif %}
			</tr>
			{% for scw in signup_class_waiting %}
				<tr>
					<td>{{ scw.subject.title}}</td>
					{% if request.session.isProfessor %}
						<td>
						<form method='post' action='?'> {% csrf_token %}
							<input type="hidden" name="subject_id" value="{{ scw.subject.id }}"/>
							<input type="hidden" name="result" value="rejected"/>
							<input type="submit" value="reject"/>
						</form>
						</td>
						<td>
						<form method='post' action='?'> {% csrf_token %}
							<input type="hidden" name="subject_id" value="{{ scw.subject.id }}"/>
							<input type="hidden" name="result" value="accepted"/>
							<input type="submit" value="accept"/>
						</form>
						</td>
					{% else %}
					<td> Waiting </td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
	{% endif %}
</div>
{% endblock content %}
