{% extends "base.html" %}

{% block title %}common_subject_list.html{% endblock %}

{% block content %}
<div id="content">
	<h1>Welcome, {{ request.user.last_name }}({{ request.user.username }})!</h1>
	<table>
		<tr>
			<th>title</th>
		</tr>
		{% for obj in subject %}
		<tr>
			<td>
                <form id='{{ obj.title }}_{{ obj.classes}}' method="post" action="{% url 'judge:common_assignment_list' obj.title obj.classes %}">{% csrf_token %}
					<input type="hidden" name="subject_id" value="{{ obj.id }}"/>
					<a href="javascript:{}" onclick=document.getElementById("{{ obj.title }}_{{ obj.classes }}").submit();>{{ obj.title }}_{{ obj.classes }}</a>
			    </form>	
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock content %}
