{% extends "base.html" %}

{% block title %}common_assignment_list.html{% endblock %}

{% block content %}
<div id="content">
	<h1> {{ subject.title }}_{{ subject.classes}} </h1>
    {% if request.session.isProfessor %}
		<form id='assignment_add' method="get" action="{% url 'judge:professor_assignment_add' %}">{% csrf_token %}
			<input type="button" value="Add" onclick="document.getElementById('assignment_add').submit();"/>
		</form>

	    <h3><input type="button" value="settings"/></h3>
    {% endif %}
	<table>
		<tr>
			<th>assginment_name</th>
			<th>deadline</th>
		</tr>

		{% for obj in assignment %}
		<tr>
            <td>
                {% if request.session.isProfessor %}
                    <form id='assignment_update' method="post" action="{% url 'judge:professor_assignment_update' %}">{% csrf_token %}
                    	<input type="hidden" name="subject_id" value="{{ subject.id }}"/>
						<a href="javascript:{}" onclick="document.getElementById('assignment_update').submit()";>{{ obj.name }}</a>
                {% else %}
                    <form id='solve' method="post" action="{% url 'judge:student_assignment' obj.id %}">{% csrf_token %}
	                	<input type="hidden" name="assignment_id" value="{{ obj.id }}"/>
						<a href="javascript:{}" onclick=document.getElementById("solve").submit();>{{ obj.name }}</a>
                {% endif %}
			    	</form>
            </td>
			<td>{{ obj.deadline | date:"Y-m-d(D)" }} {{ obj.deadline | time:"H:i:s" }}</td>
		</tr>
		{% endfor %}
	</table>

</div>
{% endblock content %}
