{% extends "base.html" %}

{% block title %}professor_hided_subject_list.html{% endblock %}

{% block content %}
<div id="content">
    <h3><input type="button" value="back to subject list" onclick="location.href='{% url 'judge:professor_subject_list'%}'"/></h3>
	<table>
		<tr>
			<th>title</th>
		</tr>
		{% for obj in subject %}
		<tr>
			<td>
                <form id='{{ obj.id }}' method="post" action="{% url 'judge:professor_assignment_list' %}">{% csrf_token %}
					<input type="hidden" name="subject_id" value="{{ obj.id }}"/>
					<a href="javascript:{}" onclick=document.getElementById("{{ obj.id }}").submit();>{{ obj.title }}</a>
			    </form>	
			</td>
			<td>
				<form method="post" action="?">{% csrf_token %}
					<input type="hidden" name="subject_id" value="{{ obj.id }}"/>
					<input type="submit" value="show"/>
			    </form>	
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock content %}
