{% extends "base.html" %}

{% block title %}professor_subject_list.html{% endblock %}

{% block content %}
<div id="content">
	<h1>Welcome, ({{ request.user.username }})!</h1>
		<form id='subject_add' method="get" action="{% url 'judge:professor_subject_add' %}">{% csrf_token %}
			<input type="submit" value="add subject"/>
		</form>

	    <h3><input type="button" value="hiding management" onclick="location.href='{% url 'judge:professor_hided_subject'%}'"/></h3>
	<table>
		<tr>
			<th>title</th>
		</tr>
		{% for obj in signup_class_available %}
		{% if not obj.subject.hided %}
        <tr>
			<td>
                <form id='{{ obj.subject.id }}' method="post" action="{% url 'judge:professor_assignment_list' %}">{% csrf_token %}
					<input type="hidden" name="subject_id" value="{{ obj.subject.id }}"/>
					<a href="javascript:{}" onclick=document.getElementById("{{ obj.subject.id }}").submit();>{{ obj.subject.title }}</a>
			    </form>	
			</td>
			<td>
				<form method="post" action="?">{% csrf_token %}
					<input type="hidden" name="subject_id" value="{{ obj.subject.id }}"/>
					<input type="submit" name="hided" value="hide"/>
			    </form>	
			</td>
		</tr>
        {% endif %}
		{% endfor %}
	</table>

	{% if signup_class_waiting %}
		<h1> Waiting subject list </h1>
		<form method='post' action="?"> {% csrf_token %}
			<input type="submit" name="accept" value="Accept all"/>
		</form>
		<form method='post' action="?"> {% csrf_token %}
			<input type="submit" name="accept" value="Reject all"/>
		</form>

		<table>
			<tr>
				<th> title </th>
			</tr>
			{% for scw in signup_class_waiting %}
            	<tr>
					<td>{{ scw.subject.title }}</td>
					<td>
						<form method='post' action='?'> {% csrf_token %}
							<input type="hidden" name="subject_id" value="{{ scw.subject.id }}"/>
							<input type="submit" name="accept" value="reject"/>
						</form>
						</td>
						<td>
						<form method='post' action='?'> {% csrf_token %}
							<input type="hidden" name="subject_id" value="{{ scw.subject.id }}"/>
							<input type="submit" name="accept" value="accept"/>
						</form>
					</td>
				</tr>
            {% endfor %}
		</table>
	{% endif %}
</div>
{% endblock content %}
