{% extends "base.html" %}

{% block title %}professor_assignment_update.html{% endblock %}

{% load static %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
<div id="content">
	<h1>here is for professor_assignment_update.html</h1>
	<form action="?" method="post" enctype="multipart/form-data">{% csrf_token %}

		{% if form.errors %}
			<p class="errornote">Wrong! Please correct the error(s) below.</p>
		{% endif %}

		<p>This is a creation or update form for your post.</p>

		<fieldset class="aligned">

			<div class="form-row">
				{{ form.assignment_name.label_tag }} 
				<input type="text" name="assignment_name" required="" id="id_assignment_name" value='{{ assignment.name }}' />
			</div>
			<div class="form-row">
				{{ form.assignment_desc.label_tag }}
				<textarea name="assignment_desc" cols="40" rows="10" required="" id="id_assignment_desc">{{assignment.desc}}</textarea>
			</div>

			<div class="form-row">
				{{ form.assignment_deadline.label_tag }} {{ form.assignment_deadline }}(days)
			</div>

			<div class="form-row">
				{{ form.assignment_in_file.label_tag }}
				<input type="file" name="assignment_in_file" id="id_assignment_in_file" disabled/> <p> * Sorry, replacing files is not support in current version.</p>
			</div>

			<div class="form-row">
				{{ form.assignment_out_file.label_tag }}
				<input type="file" name="assignment_out_file" id="id_assignment_out_file" disabled/>
			</div>
		</fieldset>

		<div class="submit-row">
			<input type="submit" value="Submit"/>
		</div>
	</form>
</div>
{% endblock content %}