{% extends "base.html" %}

{% block title %}professor_subject_management.html{% endblock %}
{% load static %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
<div id="content">
	<h3> - Subject ID / access code</h3>
	<h1>{{ subject.id}} / {{ subject.access_code }}</h1>
	<h3> - Subject Information </h3>
	<form method="post" action="?">{% csrf_token %}			
		<fieldset class="aligned">
			<div class="form-row">
				{{ form.title.label_tag }} {{ form.title }}
			</div>
			<div class="form-row">
				{{ form.language.label_tag }} {{ form.language }}
			</div>
		</fieldset>

		<div class="submit-row">
			<input type="submit" name="revise" value="Revise"/>
		</div>
	</form>

	<div>
	<h3> - People who lead this subject with you </h3>
	{% if participated_professor_list %}
		<table>
			<tr>
				<th>id</th>
				<th>state</th>
			</tr>
		{% for ppl in participated_professor_list %}
			<tr>
				<td> {{ ppl.user.username }} </td>
				{% if ppl.state == 1 %}
					<td>Accepted</td>
				{% elif ppl.state == 2 %}
					<td>Rejected</td>	
				{% elif ppl.state == 3 %}
					<td>Waiting</td>
				{% endif %}
			</tr>
		{% endfor%}
		</table>
	{% else %}
		<h3> There are no people :(</h3>
	{% endif %}

	<h3> - Invite people for managing this subject together.</h3>
	<form method="post" action="?" id="abcd" name="bcde">{% csrf_token %}
		<table>
			<tr>
				<th> Professor_id </th>
				<td><input type="text" name="professor_id"><td>
				<td><input type="submit" name="invite" value="invite"/></td>
			</tr>
		</table>
	</form>
	</div>

	<h3> - People who want to join this subject </h3>
	{% if participated_student_list %}
		<form method='post' action="?"> {% csrf_token %}
			<input type="submit" name="accept" value="Accept all"/>
		</form>
		<form method='post' action="?"> {% csrf_token %}
			<input type="submit" name="accept" value="Reject all"/>
		</form>
		<table>
			<tr>
				<th>id</th>
				<th>state</th>
			</tr>
		{% for ppl in participated_student_list %}
			<tr>
				<td> {{ ppl.user.username }} </td>
				{% if ppl.state == 1 %}
					<td>Accepted</td>
				{% elif ppl.state == 2 %}
					<td>Rejected</td>
					<td>
					<form method='post' action="?"> {% csrf_token %}
						<input type="hidden" name="student_id" value="{{ ppl.user.id }}"/>
						<input type="submit" name="accept" value="accept"/>
					</form>
					</td>	
				{% elif ppl.state == 3 %}
					<td>Waiting</td>
					<td>
					<form method='post' action="?"> {% csrf_token %}
						<input type="hidden" name="student_id" value="{{ ppl.user.id }}"/>
						<input type="submit" name="accept" value="accept"/>
					</form>
					</td>
					<td>
					<form method='post' action="?"> {% csrf_token %}
						<input type="hidden" name="student_id" value="{{ ppl.user.id }}"/>
						<input type="submit" name="accept" value="reject"/>
					</form>
					</td>	
				{% endif %}
			</tr>
		{% endfor%}
		</table>
	{% else %}
		<h3> There are no people :(</h3>
	{% endif %}



	{% if messages %}
		{% for message in messages %}
            <h2>[{{ message.message }}]</h2>
		{% endfor %}
	{% endif %}

</div>


{% endblock content %}
