{% extends "base.html" %}

{% block title %}student_subject_list.html{% endblock %}

{% block content %}
<div id="content">
	<h1>Welcome, ({{ request.user.username }})!</h1>
	<h3><input type="button" value="add subject" onclick="location.href='{% url 'judge:student_subject_add'%}'"/></h3>

	<table>
		<tr>
			<th>title</th>
		</tr>
		{% for obj in signup_class_available %}
		<tr>
			<td>
                <form id='{{ obj.subject.id }}' method="post" action="{% url 'judge:student_assignment_list' %}">{% csrf_token %}
					<input type="hidden" name="subject_id" value="{{ obj.subject.id }}"/>
					<a href="javascript:{}" onclick=document.getElementById("{{ obj.subject.id }}").submit();>{{ obj.subject.title }}</a>
			    </form>	
			</td>
		</tr>
		{% endfor %}
	</table>

	{% if signup_class_waiting %}
		<h1> Waiting subject list </h1>
		<table>
			<tr>
				<th> title </th>
			</tr>
			{% for scw in signup_class_waiting %}
				<tr>
					<td>{{ scw.subject.title}}</td>
					<td> Waiting </td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
</div>
{% endblock content %}
