{% extends "base.html" %}

{% block head %} {{ form.media }}{% endblock %}

{% block title %}student_assignment.html{% endblock %}

{% load static %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
<div id="content">

        <form action="?" method="post">{% csrf_token %}

                {% if form.errors %}
                <p class="errornote">Wrong! Please correct the error(s) below.</p>
                {% endif %}

                <table>
                        <tr>
                                <td>language</td>
                                <td>{{ lang.lang_id }}</td>
                        </tr>
                        <tr>
                                <td>assignment_name</td>
                                <td>{{ assignment.name }}</td>
                        </tr>
                        <tr>
                                <td>desc</td>
                                <td>{{ assignment.desc | linebreaks }}</td>
                        </tr>       
                </table>
                {{ form.code }}

                <div class="submit-row">
                        <input type="submit" name='judge' value="채점"/>
                </div>
        </form>

        {% if result %}
                {% if submit_instance.ontime or assignment.delay_submission %}
                <form action="?" method="post">{% csrf_token %}
                        
                        <input type="hidden" name="submit_instance" value="{{submit_instance}}"/>
                        <input type="submit" name='submit' value="제출"/>
                </form>
                {% else %}
                <div>
                        <p> submit time is already expired and delay submission is not allowed</p>
                </div>
                {% endif %}
                <div>
                        {% autoescape on %} {{ result | safe }} {% endautoescape %}
                </div>
        {% endif %}
</div>
{% endblock content %}